# 1- Question 
1-read you csv file (https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv )

2-print the first 5 rows 

3-print the shape of the data

4- print and data type of each column

In [5]:
#imporing library :
import pandas as pd
#import data :
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv ')
df = pd.DataFrame(df)
#print the first 5 rows : 
x = df.head()
#print the shape of the data : 
df.shape
#print data tybe of each column : 
y = df.dtypes
print(x)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

# 2-Question
1- print carat column

2- Write a Pandas program to create a new 'Quality -color' Column (cut,color)

examble => ( Ideal, E)

In [9]:
print(df[['carat']])

In [16]:
df['Quality-color'] = df['cut'].astype(str) + ',' + ['color']
df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal,color"
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium,color"
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good,color"
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium,color"
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good,color"

# 3-Question
1-Write a Pandas program to summarize the data.

2- only one column => 'table'

3- only 'float64' columns of the diamonds Dataframe. => include=['...']

In [26]:
#1
x=df.describe()
#2
y=df['table']

0        55.0
1        61.0
2        65.0
3        58.0
4        58.0
         ...
53935    57.0
53936    55.0
53937    60.0
53938    58.0
53939    55.0
Name: table, Length: 53940, dtype: float64

# 4-Question
Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5. (x,y,z)

In [27]:
diamonds = df
result = diamonds[(diamonds.x>5) & (diamonds.y>5) & (diamonds.z>5)]
print(result.head())

       carat   cut color clarity  depth  table  price     x     y     z  \
11778   1.83  Fair     J      I1   70.0   58.0   5083  7.34  7.28  5.12
13002   2.14  Fair     J      I1   69.4   57.0   5405  7.74  7.70  5.36
13118   2.15  Fair     J      I1   65.5   57.0   5430  8.01  7.95  5.23
13562   1.96  Fair     F      I1   66.6   60.0   5554  7.59  7.56  5.04
13757   2.22  Fair     J      I1   66.7   56.0   5607  8.04  8.02  5.36

      Quality-color
11778    Fair,color
13002    Fair,color
13118    Fair,color
13562    Fair,color
13757    Fair,color

# 5-Question
1- rename one col

2- rename two col togeather

3- rename all col togeather

In [33]:
c = df.rename(columns={'carat':'CARAT'}, inplace=True)
v = df.rename(columns={'color':'COLOR' , 'depth' : 'DEPTH'} ,  inplace=True)
df.head()

,CARAT,cut,COLOR,clarity,DEPTH,table,price,x,y,z,Quality-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal,color"
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium,color"
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good,color"
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium,color"
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good,color"

# 6-Question
Write a Pandas program to find the diamonds that are either Good or Very Good.

In [36]:
diamonds = df
result = diamonds[diamonds.cut.isin(['Good', 'Very Good'])]
print(result.head())

   CARAT        cut COLOR clarity  DEPTH  table  price     x     y     z  \
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53

     Quality-color
2       Good,color
4       Good,color
5  Very Good,color
6  Very Good,color
7  Very Good,color

# 7-Question
1-print the name of all the columns

2- Mean of each column

3-Mean of each row of diamonds DataFrame:

In [39]:
print(df.columns)
print(df.mean())
print(diamonds.mean(axis=1).head())

Index(['CARAT', 'cut', 'COLOR', 'clarity', 'DEPTH', 'table', 'price', 'x', 'y',
       'z', 'Quality-color'],
      dtype='object')
CARAT       0.797940
DEPTH      61.749405
table      57.457184
price    3932.799722
x           5.731157
y           5.734526
z           3.538734
dtype: float64
0    64.727143
1    65.292857
2    65.651429
3    66.535714
4    66.864286
dtype: float64

# 8-Question
1- mean of 'price' column only

2- Write a Pandas program to calculate the mean of price for each cut of diamonds DataFrame.

3-Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

4- count how many times each value in cut series of diamonds DataFrame occurs. value_counts()

In [44]:
# mean of price
df["price"].mean()

3932.799721913237

# 9-Question
Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.